<tr id="user-table-tr-{{ user.id }}">
  <td>
    <strong>{{ user.username }}</strong>

    {% if user.locked %}
      <label class="label label-danger">禁</label>
    {% endif %}

    <br>
    <span class="text-muted text-sm">
      {% for role in user.roles %}
        {{ dict_text('userRole', role) }}
      {% endfor %}
    </span>
  </td>

  <td>
    {{ user.email }}
    <br>
    {% if user.emailVerified %}
      <label class="label label-success" title="该Email地址已验证">已验证</label>
    {% endif %}
  </td>

  <td>
    <span class="text-sm">{{ user.createdTime|date('Y-n-d H:i:s') }}</span>
    <br>
    {# @todo <a class="text-muted text-sm" href="http://www.baidu.com/s?wd={{ user.createdIp }}" target="_blank">{{ user.createdIp }}</a> #}
  </td>
  <td>
    <span class="text-sm">
      {% if user.loginTime == 0 %}
       --
      {% else %}
        {{ user.loginTime|date('Y-n-d H:i:s') }}
      {% endif %}
    </span>
    <br>
    <a class="text-muted text-sm" href="http://www.baidu.com/s?wd={{ user.loginIp }}" target="_blank">{{ user.loginIp }}</a>
  </td>
  <td>
    
  </td>
</tr>

